[submodule "foxai-gpt-image-2"]
	path = foxai-gpt-image-2
	url = https://github.com/LisaPullman/awesome-gpt-image-2.git
[submodule "foxai_img2threejs"]
	path = foxai_img2threejs
	url = https://github.com/img2threejs/img2threejs.git
